<div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    Author Name

                </th>
                <th>
                    Available books
                </th>

            </tr>
        </thead>
        <tbody ng-repeat="author in authors">
            <tr>
                <td>
                    {{author.authorname}}
                </td>

                <td>
                    {{author.numOfBooks}}
                </td>
            </tr>

        </tbody>

    </table>
</div>